@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}

.navbar img{
    width:150px;
}
.bg-green{
    background-color:#21B573;
    color:#fff !important;
    border-radius: 30px;
    padding:5px 25px !important;
    
}
h1{
    font-size:48px;
}
h2{
    font-size:40px;
}
p{
    /* color:dimgray; */
    font-size:14px;
}
section{
    padding-bottom: 50px;
}
.book{
    margin-top:50px;
}
.h:hover{
    box-shadow:10px 20px 40px gray;
    padding-top:20px;
}
li{
    margin-left:20px ;
}
.nav{
    background-color:#F0FFF0;
}
.navbar-light{
    color:#000000;
}
.half-width{
    width:45%;
    float: left;

}
.start{
    padding-top:70px;
}
.book img{
    width:80px;
    padding-bottom: 22px;
}
.small-img{
    width:18px;

}
.small-para{
    display:inline;
    font-size:10px;
}
.seat{
    float: left;
    display:inline;
}
.calender{
    display:inline;
}
.card-footer{
    border-top:none;
    background-color:white;
}
.card{
    box-shadow: 0px 10px 40px gray;
    border-radius: 10px;
}
.card-img-top{
    width:269px;
    margin-left:10px;
    margin-top:10px;
}
.img-man{
    width:120px;
    height: 120px;
}
.width30{
    width:30%;
    float: left;
    padding-left:5%;
}
.gray{
    color:dimgray;
}
.width60{
    width:45%;
    float: left;
}
section{
    overflow:hidden;
}
footer{
    margin-top:50px;
    background-color:#282531;
    color:#D9D9DB;
    padding-left:100px;
    padding-top:50px;
    
}
.footer-para{
    margin-top:50px;
    
    
}